* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif; }

/*Colors */
/* */
.clearfix::after {
  content: "";
  clear: both;
  display: table; }

[class*="col-"] {
  float: left;
  min-height: 1px;
  padding: 1px; }

.container {
  margin: 0 auto;
  max-width: 1200px; }

.row::before,
.row::after {
  content: "";
  display: table;
  clear: both; }

.inVisible {
  opacity: 0;
  display: none; }

.visible {
  display: block; }

body #particles-js {
  overflow: hidden;
  height: 100vh; }
body header {
  z-index: 1;
  position: relative;
  height: 100vh;
  background: #fff;
  overflow-x: hidden; }
  body header nav {
    background: #006599;
    color: #fff;
    height: 80px; }
    body header nav ul {
      height: 80px;
      list-style-type: none; }
      body header nav ul li {
        background: #006599;
        cursor: pointer;
        line-height: 70px;
        height: 70px;
        margin-top: 5px;
        font-size: 35px;
        text-align: center;
        transition: 0.5s; }
        body header nav ul li img {
          width: 50%;
          margin-top: 10px; }
  body header .navDetails {
    z-index: 2;
    height: 300px;
    position: absolute;
    top: 30%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    transition: 2s; }
    body header .navDetails img {
      border-radius: 20px; }
    body header .navDetails h2, body header .navDetails h4 {
      background: rgba(255, 255, 255, 0.6);
      line-height: 30px;
      font-weight: lighter;
      font-size: 18px;
      letter-spacing: 4px; }
    body header .navDetails h2 {
      padding-bottom: 10px;
      font-size: 27px;
      letter-spacing: 5px; }
    body header .navDetails button {
      cursor: pointer;
      font-size: 24px;
      font-weight: bolder;
      margin-top: 30px;
      height: 50px;
      border: 2px solid #006599;
      background: rgba(255, 255, 255, 0.6);
      color: #006599;
      border-radius: 25px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      transition: 1s; }
      body header .navDetails button:hover {
        transform: scale(1.05) translateX(-47.5%);
        font-size: 26px;
        background: #fff; }
  body header .aboutUs {
    position: absolute;
    top: 35%;
    left: 50%;
    height: 350px;
    border-radius: 20px;
    transform: translateX(-50%);
    letter-spacing: 1px;
    opacity: 0;
    transition: 2s;
    text-align: center;
    padding: 1% 1% 10% 1%; }
    body header .aboutUs:hover {
      background: rgba(255, 255, 255, 0.8); }
    body header .aboutUs h1 {
      transform: translateX(150%);
      padding: 10px;
      font-size: 40px;
      transition: 1.5s; }
    body header .aboutUs p {
      transform: translateX(250%);
      line-height: 30px;
      padding: 5px;
      font-size: 24px;
      transition: 2s; }
      body header .aboutUs p:hover {
        background: #fff; }
    body header .aboutUs #p2 {
      transform: translateX(300%);
      transition: 3s; }
    body header .aboutUs #p3 {
      transform: translateX(400%);
      transition: 4s; }
    body header .aboutUs #p4 {
      transform: translateX(500%);
      transition: 4s; }
    body header .aboutUs button {
      cursor: pointer;
      font-size: 24px;
      margin-top: 10px;
      height: 40px;
      border: 2px solid #006599;
      background: #fff;
      color: #006599;
      border-radius: 20px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      transition: 1s; }
      body header .aboutUs button:hover {
        transform: scale(1.05) translateX(-47.5%);
        font-size: 26px; }
  body header .btnD {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid #333;
    background: #006599;
    text-align: center; }
    body header .btnD i {
      animation: down linear 1.5s infinite;
      color: #fff;
      cursor: pointer;
      font-size: 60px; }
body .interest {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -3;
  height: 300px;
  background: url("images/kamerySiatka.jpeg");
  background-position: 0% 20%; }
body .interestTwo {
  position: fixed;
  top: 50%;
  left: 0;
  z-index: -5;
  height: 50%;
  background: url("https://images.pexels.com/photos/1106433/pexels-photo-1106433.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-position: 0% 20%;
  background-size: 100%; }
body .cert {
  padding: 0;
  position: relative;
  height: 600px;
  text-align: center;
  background: #fff; }
  body .cert h1 {
    margin-top: 180px;
    color: #000;
    font-size: 60px; }
  body .cert .certGallery {
    height: 580px;
    margin: 0; }
    body .cert .certGallery .certBox {
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      margin-top: 20px;
      justify-content: center; }
      body .cert .certGallery .certBox img {
        height: 400px;
        max-width: 500px;
        display: flex;
        transition: 1.5s; }
        body .cert .certGallery .certBox img:hover {
          transform: scale(1.2);
          z-index: 3; }
body .null {
  height: 300px;
  position: relative;
  background: url("https://images.pexels.com/photos/247932/pexels-photo-247932.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-position: 50% 30%;
  background-size: 80%;
  background-repeat: none;
  z-index: -4; }
body #null2 {
  background: #333;
  z-index: -10; }
body .choose {
  margin: 0 0 0 0;
  padding: 0;
  overflow: hidden;
  background: #fff;
  height: 100vh;
  position: relative; }
  body .choose .card {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    cursor: pointer;
    background: transparent; }
    body .choose .card .klik {
      background: #fff;
      height: 84%;
      width: 60%;
      margin: 8% 0 0 50%;
      transform: translateX(-50%);
      border: 3px solid #006599;
      text-align: center;
      border-radius: 20px;
      color: #006599; }
      body .choose .card .klik img {
        margin-top: 10%;
        height: 12%; }
      body .choose .card .klik h1 {
        position: absolute;
        top: 35%;
        left: 50%;
        font-weight: lighter;
        transform: translateX(-50%);
        font-size: 40px;
        line-height: 50px; }
      body .choose .card .klik button {
        color: #006599;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translateX(-50%);
        font-weight: bolder;
        cursor: pointer;
        font-size: 28px;
        height: 50px;
        border: 2px solid #006599;
        background: rgba(255, 255, 255, 0.6);
        border-radius: 25px;
        transition: 1s; }
        body .choose .card .klik button:hover {
          background: #006599;
          color: #fff; }
      body .choose .card .klik .inner {
        z-index: 4;
        height: 80%; }
      body .choose .card .klik .offer {
        display: none;
        height: 80%;
        opacity: 0; }
        body .choose .card .klik .offer ul {
          text-align: left;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%); }
          body .choose .card .klik .offer ul li {
            font-size: 20px;
            letter-spacing: 1px; }
  body .choose .automatCard {
    left: 50%; }
body .gallery {
  position: relative;
  height: 80vh;
  background: #333;
  background-size: 100%; }
  body .gallery .slider {
    background: transparent;
    position: absolute;
    top: 0%;
    left: 0%;
    font-size: 0;
    padding: 0;
    height: inherit;
    width: 70%;
    overflow: hidden; }
    body .gallery .slider .slideTape {
      height: 60vh;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
      padding: 0;
      width: 210vw;
      list-style-type: none; }
      body .gallery .slider .slideTape li {
        margin: 0;
        padding: 0;
        display: inline-block;
        width: 70vw;
        list-style: none;
        height: 60vh; }
        body .gallery .slider .slideTape li img {
          margin: 0 2.5% 0 2.5%;
          padding: 0;
          border-radius: 15px;
          height: 100%;
          width: 95%; }
  body .gallery #changeSlide {
    padding-top: 3%;
    position: absolute;
    background: #fff;
    top: 12.4%;
    left: 85%;
    width: 25%;
    height: 60vh;
    transform: translateX(-50%);
    font-size: 30px;
    color: #006599;
    border-radius: 20px;
    border: 2px solid #006599;
    text-align: center; }
    body .gallery #changeSlide img {
      margin-top: 20px;
      height: 80px; }
    body .gallery #changeSlide i {
      margin-top: 10%;
      font-size: 50px;
      text-align: center;
      width: 40px;
      cursor: pointer;
      text-shadow: 0 0 5 #000; }
    body .gallery #changeSlide h1 {
      letter-spacing: 2px;
      line-height: 70px;
      font-size: 50px;
      text-shadow: 0 0 5 #000; }
body .last {
  position: relative;
  background: #333;
  height: 600px; }
  body .last .info {
    height: 550px; }
    body .last .info .localize {
      margin: 5%;
      height: 40%;
      background: #fff;
      border-radius: 20px;
      border: 2px solid #006599; }
      body .last .info .localize .contact {
        margin-left: 5%;
        padding-top: 20px;
        height: 300px;
        text-align: center;
        color: #006599;
        text-shadow: 0 0 1px #000; }
        body .last .info .localize .contact h1 {
          font-size: 30px;
          line-height: 40px; }
        body .last .info .localize .contact p {
          font-size: 22px;
          line-height: 30px; }
      body .last .info .localize .navi {
        height: 300px; }
        body .last .info .localize .navi ul {
          padding: 30px; }
          body .last .info .localize .navi ul li {
            text-align: center;
            color: #fff;
            list-style-type: none;
            font-size: 25px;
            line-height: 30px; }
    body .last .info .share {
      height: 50%;
      text-align: center; }
      body .last .info .share .inShare {
        margin-left: 5%;
        height: 150px;
        background: #fff;
        border-radius: 20px;
        border: 2px solid #006599; }
        body .last .info .share .inShare h2 {
          font-size: 28px;
          letter-spacing: 2px;
          color: #006599; }
        body .last .info .share .inShare .icons {
          line-height: 100px;
          height: 100px;
          border-radius: 50%;
          margin-top: 5px; }
          body .last .info .share .inShare .icons a {
            color: #000;
            height: 60px; }
          body .last .info .share .inShare .icons .fa {
            font-size: 30px;
            line-height: 60px;
            height: 60px;
            width: 60px;
            border: solid 1px #006599;
            cursor: pointer;
            border-radius: 50%;
            transition: 1s; }
            body .last .info .share .inShare .icons .fa:hover {
              color: #fff;
              transform: scale(1.2); }
          body .last .info .share .inShare .icons .faMar {
            margin-right: 5%; }
            body .last .info .share .inShare .icons .faMar:last-of-type {
              margin-right: 0; }
          body .last .info .share .inShare .icons .fa-twitter:hover {
            background-color: #4099FF; }
          body .last .info .share .inShare .icons .fa-facebook:hover {
            background-color: #3B5998; }
          body .last .info .share .inShare .icons .fa-instagram:hover {
            background-color: #5C3D2E; }
  body .last .map {
    position: relative; }
    body .last .map iframe {
      float: none;
      display: block;
      margin: 30px auto;
      height: 500px; }
  body .last .made {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000;
    height: 40px; }
    body .last .made a {
      position: absolute;
      top: 30%;
      left: 80%;
      color: #fff; }

/*# sourceMappingURL=style.css.map */
